@page
@model AspCore2025.Pages.AboutModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <strong>TODO</strong>
        </div>
    </div>
</div>